body{
    background-color: whitesmoke;
}
/* Main Section */
.title-utama{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}
.text-utama{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}
.nav-link:hover{
    transition: all 0.5s;
    background-color:#6C757D;
    border-radius: 8px;
}
.container-fluid{
    margin-top: 50px;
    background-color: whitesmoke;
    border: 2px solid;
    border-bottom-color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 80%;
}
.title-main{
    padding-top: 60px;
}
.img-main{
    padding-left: 28px;
    padding-right: 30px;
}
/* Our service */
.our-service{
    margin-bottom: 110px;
}
.our{
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.service-img img{
    width: 400px;
    height: 400px;
    margin-left: 90px;
    padding-right: 20px;
    padding-top: 10px;
}
.service-title{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    padding-top: 33px;
}
.service-text{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}
.list ul{
    margin-left: -60px;
}
.list img{
    padding-right: 20px;

}
.list li{
    list-style: none;
    padding-bottom: 5px;
    padding-left: 19px;
}
/* Why Us */
.why{
    padding-top: 60px;
}
.why-title{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}
.why-text{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}
.why-card{
    background-color: darkgray;
}
.card-title{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px;
}
.card-text{
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}
/* Testimonial */
.testimonial{
    padding-top: 100px;
    padding-bottom: 40px;
}
.test-header h2{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 5px;
}
.test-header p{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 20px;
}
.items{
    background-color: darkgray;
    width: 125%;
    height: 100%;
}
.item-slide-1{
    margin-left: -170px;
}
.item-slide-2{
    margin-left: -60px;
}
.item-slide-3{
    margin-left: 50px;
}

.testimonial .card-body{
    display: flex;
}

.card-kiri{
    width: 80px;
    height: 80px;
    margin: 50px 5px;
    padding-right: 5px;
}

.card-kanan{
    text-align: justify;
    font-size: 12px;
    margin: 30px 0;
    padding-left: 20px;
}
.click{
    padding-top: 30px;
}
.klik i.bi-star-fill{
    color: gold;
}
/* CTN Banner */
.banner{
    padding-top: 80px;
    padding-bottom: 10px;
}
.banner-row{
    background-color: darkgray;
    border-radius: 8px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.banner-col .title{
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}
.banner-col .text{
    color: #FFFFFF;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding-left: 320px;
    padding-right: 320px;
    padding-bottom: 20px;
}
/* FAQ */
.faq{
    padding-top: 80px;
    padding-bottom: 10px;
}
.faq-acor button{
    color: black;
}
.faq-col h2{
    font-family: Helvetica;
    font-weight: bold;
    padding-bottom: 10px;
}
.faq-col p{
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
}
/* Footer */
footer{
    background-color: darkgray;
}
.address{
    padding-top: 20px;
}
.foot{
    margin-top: 100px;
}
.navfoot{
    padding-top: 20px;
}
.text-footer{
    padding-top: 35px;
}
.foot-icon img{
    padding-right: 12px;
}
.text-foot{
    padding-top: 50px;
}